@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Likes & Dislikes!</h1>
    <p>Här kan du skapa ett konto och lista vad du gillar och ogillar på din profil!</p>
</div>


