@{
    ViewData["Title"] = "Användare hittades inte";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>Inget konto med angivet användarnamn kunde hittas.<br />
   Vänligen kontrollera din stavning och försök igen, eller skapa ett konto <a asp-action="CreateAccount">här</a>!</p>